
<!DOCTYPE html>
<html lang="en" id="html-root" data-theme="light">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Strgalnik</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <style>
.random-recipe-btn {
  margin: 1em 0;
  padding: 0.7em 1.2em;
  font-size: 1rem;
  background-color: #ff9800;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.random-recipe-btn:hover {
  background-color: #e68900;
}

  </style>
</head>
<body class="scraper-page">
<button onclick="odpriNakljucenRecept()" class="random-recipe-btn">🎲 Odpri naključen recept</button>

<script>
  function odpriNakljucenRecept() {
    window.location.href = "/nakljucen-recept";
  }
</script>

</body>
</html>
